<footer class="footer">
  <a class="footer_button" href="#top">
    <img class="footer_button_img" src="./images/ico-arrow.svg" alt="">
  </a>
  <div class="footercontent">
    <div class="footercontent_listcontainer">
      <ul class="footercontent_listcontainer_list">
        <a class="link" href="https://www.adalab.es"><li>ZAPATILLAS</li></a>
        <a class="link" href="https://www.adalab.es"><li>ROPA</li></a>
        <a class="link" href="https://www.adalab.es"><li>NIÑO/A</li></a>
        <a class="link" href="https://www.adalab.es"><li>DESTACADOS</li></a>
        <a class="link" href="https://www.adalab.es"><li>TIPS</li></a>
      </ul>
      <ul class="footercontent_listcontainer_list">
        <a class="link" href="https://www.adalab.es"><li>TWITTER</li></a>
        <a class="link" href="https://www.adalab.es"><li>INSTAGRAM</li></a>
        <a class="link" href="https://www.adalab.es"><li>YOUTUBE</li></a>
      </ul>
    </div>
    <div class="footercontent_info">
      <p class="copy">&copy; 2024</p>
      <p>we <span class="heart">❤︎</span> run</p>
    </div>
  </div>
</footer>