<section id="s3" class="module3">
    <h4 class="module3_h4">¡Prepáralos con tus marcas favoritas!</h3>
    <h2 class="module3_h2">VUELTA AL COLE</h2>
    <div class="module3_grid">
      <div class="module3_grid_section">
        <img class="module3_grid_section_img" src="./images/lpbts-mod05-img01-desk.png" alt="">
        <h3 class="module3_grid_section_h3">Mochilas escolares</h3>
      </div>
      <div class="module3_grid_section">
        <img class="module3_grid_section_img" src="./images/lpbts-mod05-img04-mob.png" alt="">
        <h3 class="module3_grid_section_h3">Estuches</h3>
      </div>
      <div class="module3_grid_section">
        <img class="module3_grid_section_img" src="./images/lpbts-mod05-img03-mob.png" alt="">
        <h3 class="module3_grid_section_h3">Bolsas de deporte</h3>
      </div>
    </div>
    <a class="module3_button">Empezar ahora</a>
  </section>